<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delivery_address</title>
</head>
<body>
<form action="http://127.0.0.1:5000/payable_amount" method="POST">
    <p>Delivery_address</p>
    <p>villege/town</p>
    <p><input type="text" style="border: 2px solid red;" name="villege"></p>
    <p>state</p>
    <p><input type="text" style="border: 2px solid red;" name="state"></p>
    <p>District</p>
    <p><input type="text" style="border: 2px solid red;" name="district"></p>
    <p>post_office</p>
    <p><input type="text" style="border: 2px solid red;" name="post_office"></p>
    <p>house_no.</p>
    <p><input type="text" style="border: 2px solid red;" name="house_no"></p>
    <p>product_id</p>
    <p><input type="text" style="border: 2px solid red;" name="product_id"></p>
    <p>quantity</p>
    <p><input type="text" style="border: 2px solid red;" name="quantity"></p>
    <p>company_id</p>
    <p><input type="text" style="border: 2px solid red;" name="company_id"></p>
    <p><input type="submit" name="submit"
              value="place_order"></p>
</form>
</body>
</html>