<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<nav>
    <p>Home</p>
    <p>about</p>
    <p></p>
</nav>
<div>
    <h4><a href="{{url_for('register')}}">Register</a></h4>
    <h4><a href="{{url_for('login')}}">login</a></h4>
    <h4><a href="{{url_for('francise_login')}}">Francise_login</a></h4>
    <h4><a href="{{url_for('retailer_login')}}">Retailer_login</a></h4>
</div>
<h3>Please!! login to create your card today</h3>
</body>
</html>