<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<form action="http://127.0.0.1:5000/register_action" method="POST">
    <p>bussiness_type</p>
    <p><input type="text" name="bussiness_type"></p>
    <p>unique_id</p>
    <p><input type="text" name="unique_id"></p>
    <p>name</p>
    <p><input type="text" name="name"></p>
    <p>email</p>
    <p><input type="text" name="email"></p>
    <p>password</p>
    <p><input type="password" name="password"></p>
    <p><input type="submit" name="submit"></p>
</form>
</body>
</html>